
body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: row;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#main {
	flex: 50%;
}

#profile-pic {
	flex: 50%;
	margin-top: 13%;
}

#profile-info {
	margin-top: 30%;
	margin-right: 30%;
	text-align: center;
}

#travel-button {
	border: none;
	outline: none;
}

#travel-button:hover {
	opacity: 0.8;
	cursor: pointer;
}